<!-- section start -->
		<section class="section secPadding">
			<div class="container">
				<h1 class="text-center title" id="portfolio">Courses</h1>
				<div class="separator"></div>
				<p class="lead text-center">Discover our diverse selection of courses tailored to your academic needs.</p>
				<br>
				<div class="row no-view" data-animation-effect="fadeIn">
					<div class="col-md-12">

						<!-- isotope filters start -->
						<div class="filters text-center">
							<ul class="nav nav-pills">
								<li class="active"><a href="#" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".foundation">Foundational Courses</a></li>
								<li><a href="#" data-filter=".advanced">Advanced Courses</a></li>
								<li><a href="#" data-filter=".workshop">Workshops</a></li>
							</ul>
						</div>
						<!-- isotope filters end -->

						<!-- portfolio items start -->
						<div class="isotope-container row grid-space-20">
							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-1.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-1">
											<i class="fa fa-search-plus"></i>

										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Calculus I</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-1-label">Calculus I</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-1.jpg" alt="">
														<br/>
														<h3>Calculus I</h3>
														<p>Review of Functions and Graphs, where students understand various types of functions and their graphical representations; Limits and Continuity, focusing on the concept of limits and the conditions under which functions are continuous; Derivatives, introducing the derivative, including differentiation rules and techniques; Applications of Derivatives, where students utilize derivatives to analyze and solve real-world problems; Antidifferentiation, focusing on the process of finding antiderivatives and their applications; and Applications of Antidifferentiation, where students apply antidifferentiation to solve problems, including calculating areas and solving differential equations.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-2.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-2">
											<i class="fa fa-search-plus"></i>

										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Calculus II</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-2-label">Calculus II</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-2.jpg" alt="">
														<br/>
														<h3>Calculus II</h3>
														<p>The Definite Integral, which introduces the concept of the definite integral; Techniques of Integration, focusing on methods for evaluating integrals such as substitution, integration by parts, and partial fractions; Applications of Integration, which explores practical uses of integration, including calculating areas, volumes, and solving problems in physics and engineering; and Sequences and Series, which includes the study of sequences and series, convergence tests, and power series.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-3.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-3">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Physics I</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-3-label">Physics I</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-3.jpg" alt="">
														<br/>
														<h3>Physics I</h3>
														<p>Mechanics, covers topics such as mechanics, including kinematics, dynamics, energy, and rotational motion; oscillations and waves; sound; light; and wave optics, providing an introduction to physics without the use of calculus. </p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-4.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-4">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Physics II</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-4-label">Physics II</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-4.jpg" alt="">
														<br/>
														<h3>Physics II</h3>
														<p>Electromagnetism, covers topics such as electric fields and potentials, direct current (D.C.) circuits, capacitance, magnetic fields and induction, electromagnetic waves, and geometrical optics. </p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-5.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-5">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Intro to Programming</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-5-label">Intro to Programming</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-5.jpg" alt="">
														<br/>
														<h3>Intro to Programming</h3>
														<p> Foundations of Programming, introduces students to computer programming, focusing on fundamental concepts such as variables, control structures, functions, and data structures using the Python programming language. </p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-6.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-6">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Linear Algebra</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-6-label">Linear Algebra</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-6.jpg" alt="">
														<br/>
														<h3>Linear Algebra</h3>
														<p>Linear Algebra, covers topics such as matrix algebra, determinants, systems of linear equations, vector spaces, linear operators and their matrix representations, orthogonality, eigenvalues and eigenvectors, and the diagonalization of Hermitian matrices.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-7.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-7">
											<i class="fa fa-search-plus"></i>
											<span>Site Building</span>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Circuits I</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-7-label">Circuits I</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-7.jpg" alt="">
														<br/>
														<h3>Circuits I</h3>
														<p>Electric Circuits 1, covers topics such as circuit variables, analysis of resistive circuits, network theorems (including Kirchhoff’s laws, Ohm’s law, Norton and Thevenin equivalents), ammeters, voltmeters, ohmmeters, and analysis methods like nodal and mesh analysis, linearity, and superposition. The course serves as a foundation for electrical engineering and prepares students to apply circuit analysis techniques at a higher level. </p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item foundation">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-8.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-8">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Circuits II</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-8-label">Circuits II</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-8.jpg" alt="">
														<br/>
														<h3>Circuits II</h3>
														<p> Electric Circuits 2, builds upon the concepts from Circuits I and covers advanced topics such as two-port circuits, elementary continuous signals, impulse functions, and the basic properties of continuous linear time-invariant (LTI) systems. Students will explore frequency analysis of continuous-time LTI systems to enhance their understanding of circuit behavior in the frequency domain. The course is structured to provide a comprehensive understanding of circuit analysis techniques and prepare students for more advanced studies in electrical engineering.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item advanced">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-9.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-9">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-9">Machine Learning</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-9" tabindex="-1" role="dialog" aria-labelledby="project-9-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-9-label">Machine Learning</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-9.jpg" alt="">
														<br/>
														<h3>Machine Learning</h3>
														<p>Applied Machine Learning, covers a selected set of topics in machine learning and data mining, focusing on supervised learning techniques and, to a lesser degree, unsupervised methods, with an emphasis on best practices for deploying real-world systems.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item advanced">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-10.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-10">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-10">Web Development</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-10" tabindex="-1" role="dialog" aria-labelledby="project-10-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-10-label">Web Development</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-10.jpg" alt="">
														<br/>
														<h3>Web Development</h3>
														<p>
Front-end web development focuses on creating the visual and interactive aspects of websites and web applications. </p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item workshop">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-11.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-11">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-11">AI in 1 Day</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-11" tabindex="-1" role="dialog" aria-labelledby="project-11-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-11-label">AI in 1 Day</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-11.jpg" alt="">
														<br/>
														<h3>AI in 1 Day</h3>
														<p>The AI in 1 Day workshop is designed to introduce individuals with no prior background in artificial intelligence (AI) to the basics of AI and Large Language Models (LLMs). The workshop covers topics such as the growing role of AI in business and popular applications, the foundations of data collection and analysis, different AI models and techniques, ethics in AI, and the practices of prompt engineering in generative AI. It also discusses strategies for effectively implementing AI solutions. By the end of the workshop, participants gain a fundamental understanding of AI and LLMs, enabling them to appreciate the impact of AI technologies across various sectors.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

							<div class="col-sm-6 col-md-3 isotope-item workshop">
								<div class="image-box">
									<div class="overlay-container">
										<img src="assets/portfolio-12.jpg" alt="">
										<a class="overlay" data-toggle="modal" data-target="#project-12">
											<i class="fa fa-search-plus"></i>
										</a>
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-12">Improve your Presentations</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="project-12" tabindex="-1" role="dialog" aria-labelledby="project-12-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="project-12-label">Improve your Presentations</h4>
											</div>
											<div class="modal-body">

												<div class="row">
													<div class="col-md-12">
														<img src="assets/portfolio-12.jpg" alt="">
														<br/>
														<h3>Improve your Presentations</h3>
														<p>The workshop is designed to enhance participants' abilities in delivering effective and engaging presentations. The workshop covers various types of presentations, defining clear outcomes, and utilizing visuals effectively. It also addresses body language and gestures, audience interaction, and techniques to overcome presentation anxiety. Participants learn how to organize and deliver engaging presentations with confidence.</p>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>

						</div>
						<!-- portfolio items end -->

					</div>
				</div>
			</div>
		</section>
		<!-- section end -->

<style>

    /* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(10, 148, 219, 0.8);
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay:hover {
	text-decoration: none;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
}
.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 18px;
	line-height: 1x;
	color: #ffffff;
	margin-top: -8px;
	margin-left: -8px;
	text-align: center;
}
.overlay-container:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}

    .demo-table {
        padding: 50px 0;
        background-color: #f8f9fa;
    }
    .demo-table .heading {
        margin-bottom: 40px;
    }
    .demo-table .btn-primary {
        background-color: #4092B6;
        border-color: #4092B6;
        padding: 15px 30px;
        font-size: 18px;
        border-radius: 5px;
    }
    .demo-table .btn-primary:hover {
        background-color: #112A3E;
        border-color: #112A3E;
    }


.rounded-corners {
        border-radius: 10px; /* Adjust the value as needed */
    }

    /* Modals
---------------------------------- */
.modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.modal-header {
	background-color: #626262;
	color: #ffffff;
}
.modal-header h4 {
	color: #112A3E;
}
.modal-header .close {
	font-weight: 300;
	color: #112A3E;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}

@media (min-width:1200px) {
	.modal-lg {
		width: 1140px;
	}
}

</style>